@import '/src/themes/theme.scss';

.google-card-container {
    padding: $padding20 11px;
    display: flex;
    justify-content: center;
    position: relative;
    border: $thin-border;
    border-radius: $border-radius5;
    font-family: bold;
    img{
        position: absolute;
        height: 60%;
        left: 2%; 
        top: 50%;
        transform: translateY(-50%);
    }
}