mat-toolbar {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 0 10px; 
  
    .spacer {
      flex: 1; 
      text-align: center; 
    }
  
    button {
      margin-left: 10px; 
    }
  }
  
  .mat-table {
    width: 100%;
  
    mat-header-cell, mat-cell {
      padding: 8px;
      text-align: left;
    }
  
    mat-header-row, mat-row {
      display: flex;
    }
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.spacer {
    flex: 1;
    text-align: center;
}

button {
    margin-left: 10px;
}

h2 {
  margin-top: 3vh; 
  margin-bottom: 0; 
}
.game-table {
  margin: auto;
  max-width: 80%; 
}