<div>
  <mat-toolbar color="secondary">
    <span>MaliGiganci</span>
    <button mat-flat-button (click)="logOut()">Wyloguj się</button>
  </mat-toolbar>
  <div class="image-holder"> 
    <img src="../assets/img/kid.png" alt="Opis obrazka">
    <div *ngIf="!flagValue" class="blocked-message">Janek jest zablokowany</div>
    <button *ngIf="flagValue" mat-flat-button class="btn" (click)="block()">Zablokuj możliwość grania Janka</button>
    <button *ngIf="!flagValue" mat-flat-button class="btn" (click)="unblock()">Odblokuj możliwość grania Janka</button>
  </div>
  <div class="image-holder"> 
    <img src="../assets/img/kid2.png" alt="Opis obrazka">
    <button mat-flat-button class="btn">Zablokuj możliwość grania Kasi</button>
  </div>
  <div class="image-holder"> 
    <img src="../assets/img/kid3.png" alt="Opis obrazka">
    <button mat-flat-button class="btn">Zablokuj możliwość grania Antka</button>
  </div>
</div>
