.btn {
text-align: center; 
margin: -100px 0px 30px 30px;
}

.image-holder {
text-align: center; 
margin: 20px 30px 30px; 
}

.image-holder img {
  max-width: 10%; 
  max-height: 10%;
  width: auto;
  height: auto;
}

.blocked-message {
  text-align: center; 
  color: red; 
  font-weight: bold; 
  background-color: #ffcccc; 
  padding: 10px;
  border-radius: 5px; 
  margin-top: 20px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
}