.btn {
text-align: center; 
margin: -100px 0px 30px 30px;
}

.image-holder {
text-align: center; 
margin: 20px 30px 30px; 
}

.image-holder img {
    max-width: 10%; 
    max-height: 10%;
    width: auto;
    height: auto;
  }
  