<div>
  <mat-toolbar color="secondary">
    <span>MaliGiganci</span>
    <button mat-flat-button (click)="logOut()">Wyloguj się</button>
  </mat-toolbar>
  <div class="image-holder"> 
    <img src="../assets/img/kid.png" alt="Opis obrazka">
    <button mat-flat-button class="btn" (click)="getFlag()">Zablokuj możliwość grania Janka</button>
    <span *ngIf="flagValue">Janek jest zablokowany {{flagValue}}</span>
  </div>
  <div class="image-holder"> 
    <img src="../assets/img/kid2.png" alt="Opis obrazka">
    <button mat-flat-button class="btn">Zablokuj możliwość grania Kasi</button>
  </div>
  <div class="image-holder"> 
    <img src="../assets/img/kid3.png" alt="Opis obrazka">
    <button mat-flat-button class="btn">Zablokuj możliwość grania Antka</button>
  </div>
</div>
